{% extends "layouts/layout.html" %}
{% block title %}
View Item
{% endblock %}
{% block content %}
<script type="text/javascript" src="/js/items/items.js"></script>
<h3>View Item</h3>

{% if item_contents %}

<div class="well">
	<p>
		Posted by: {{ escape(item_contents["seller"]["username"]) }}
	</p>
	<p>Title: {{ item_contents["title"] }}</p>
	<p>Description: <textarea class="readonlyRichText">{{ item_contents["description"] }}</textarea></p>
	<p>Price: ${{ item_contents["price"]}}</p>
	<p>{{ sanitizeHTML('<img src="' + item_contents["image"] + '" />') }}</p>
</div>
<p>
	{% if current_li %}<a href="/threads/new_thread?about={{ item_contents["id"] }}" class="btn">Contact Seller</a>{% endif %}
	<a href="/items/" class="btn">Back</a>
</p>
{% if user %}
<p>
	<form action="/items/submit_foreign_feedback" method="post">
		<input type="hidden" name="item_id" value="{{item_contents['id']}}"/>
		<input type="hidden" name="xsrf_token" value="{{xsrf_token}}"/>
    <input type="hidden" name="rating" id="rating" value="3" />
		<div class="well">
			<h4>Are you the buyer? Leave your feedback here:</h4>
			<table>
				<tr>
					<td><textarea name="feedback"></textarea></td>
					<td>Rating:</td>
					<td><div id="rating_div"></div></td>
				</tr>
			</table>
			<button type="submit" class="btn" value="submit">Submit feedback</button>
		</div>
	</form>
</p>
{% endif %}
{% else %}
<div class="alert">
  <strong>Uh oh!</strong> This trusted application does not properly support /webservices/item
</div>
{% endif %}
{% endblock %}