{% extends "layouts/layout.html" %}
{% block title %}
View Item
{% endblock %}
{% block content %}
<h3>View Item</h3>

<div class="well">
	<p>Posted by: {{li.first_name + ' ' + li.last_name}}</p>
	<p>Title: {{item.title}}</p>
	<p>Description: {{item.description}}</p>
	<p>Price: ${{item.price}}</p>
	<p>Created on: {{item.created_at.strftime("%m/%d/%Y at %H:%M")}}</p>
  <p><img src="/images/?item_id={{item.key().id()}}" />
</div>
<p>
	{% if current_li %}<a href="/threads/new_thread?about={{item.key().id()}}" class="btn">Make a Bid</a>{% endif %}
	<a href="/items/" class="btn">Back</a>
</p>
{% endblock %}