{% extends "layouts/layout.html" %}
{% block title %}
Admin
{% endblock %}
{% block content %}
<h3>Administration</h3>
<hr />
<h5>Activated users</h5>
<table class="table table-striped">
{% for user in activated_users %}
<tr>
  <td>
	<div>
      <a href="/admin/user_activation?user_id={{ user.user_id }}&xsrf_token={{current_li.xsrf_token}}">
        <button class="btn btn-primary" type="submit" value="Deactivate">Deactivate</button> 
      </a>
        <b>Nickname:</b> {{ user.nickname }} <b>User ID:</b> {{ user.user_id }} <b>Active:</b> {{ user.is_active }}
    </div>
  </td>
</tr>
{% endfor %}
</table>
<h5>Deactivated users</h5>
<table class="table table-striped">
{% for user in deactivated_users %}
<tr>
  <td>
    <div>
      <a href="/admin/user_activation?user_id={{ user.user_id }}&xsrf_token={{current_li.xsrf_token}}">
        <button class="btn btn-primary" type="submit" value="Reactivate">Reactivate</button> 
      </a>
        <b>Nickname:</b> {{ user.nickname }} <b>User ID:</b> {{ user.user_id }} <b>Active:</b> {{ user.is_active }}
    </div>
  </td>
</tr>
{% endfor %}
</table>
<p><a class="btn" href="/_ah/admin/">Go to console</a></p>
{% endblock %}
