{% extends "layouts/layout.html" %}
{% block title %}
New Thread
{% endblock %}
{% block content %}
<form action="/threads/save_thread" method="post">
  <input type="hidden" name="xsrf_token" value="{{current_li.xsrf_token}}" />
	{% if item %}
  	<input type="hidden" name="item_id" value="{{item.key().id()}}" />
	<p><label>Title:</label><input type="text" name="title" value="Item: {{item.title}} for ${{item.price}}"/></p>
	{% else %}
	<p>
		<label>Recipients:</label>
		<input type="text" name="recipients" />
	</p>
	<p><label>Title:</label><input type="text" name="title" value="" /></p>
	{% endif %}
	<p><label>Message:</label><textarea name="message" rows="4" cols="50"></textarea> </p>
	<p>
		<button type="submit" value="submit" class="btn btn-primary">Post Thread</button>
		<a href="/threads/" class="btn">Cancel</a>
	</p>
</form>
{% endblock %}