{% extends "layouts/layout.html" %}
{% block title %}
Register User
{% endblock %}
{% block content %}
<form action="/users/save_user" enctype="multipart/form-data" method="post">
	<h4>Our records indicate this is your first time logging into our site. Please fill out the information below.</h4>
	<div class="well">
		<p>
			<label>First Name: </label>
			<input type="text" name="first_name"/>
		</p>
		<p>
			<label>Last Name: </label>
			<input type="text" name="last_name"/>
		</p>
		<p>
			<label>
				Nickname: 
				<i class="icon-info-sign info_button-right" title="Nickname" data-content="This will be displayed instead of your real name if you are marked as private"></i>
			</label>
			<input type="text" name="nickname" /> 
		</p>
		<p>
			<label>
				Private: 
				<i class="icon-info-sign info_button-right" title="Private" data-content="This dictates whether or not visitors are able to see your real name"></i>
			</label>
			<input type="checkbox" name="private" />
		</p>
		<p><input type="file" name="avatar"/></p>
	</div>
	<p><button type="submit" value="Submit" class="btn">Submit</button></p>
</form>
{% endblock %}