{% extends "layouts/layout.html" %}
{% block title %}
Register User
{% endblock %}
{% block content %}
<script type="text/javascript" src="/js/users/users.js"></script>
<div id="error_messages" class="error_text well hide"></div>
<form action="/users/save_user" enctype="multipart/form-data" method="post">
	<h4>Our records indicate this is your first time logging into our site. Please fill out the information below.</h4>
	<div class="well">
    <input type="hidden" name="xsrf_token" value="{{current_li.xsrf_token}}"/>
		<p>
			<label>First Name: *</label>
			<input id="first_name" type="text" name="first_name"/>
		</p>
		<p>
			<label>Last Name: *</label>
			<input id="last_name" type="text" name="last_name"/>
		</p>
		<p>
			<label>
				Nickname: *
				<i class="icon-info-sign info_button-right" title="Nickname" data-content="This will be displayed instead of your real name if you are marked as private"></i>
			</label>
			<input id="nickname" type="text" name="nickname" /> 
		</p>
		<p>
			<label>
				Private: 
				<i class="icon-info-sign info_button-right" title="Private" data-content="This dictates whether or not visitors are able to see your real name"></i>
			</label>
			<input type="checkbox" name="private" />
		</p>
    <p><textarea class="richtext" name="desc" rows="40"></textarea></p>
		<p><input type="file" name="avatar"/></p>
	</div>
	<p><button type="submit" value="Submit" class="btn">Submit</button></p>
</form>
{% endblock %}